
body > a[href^="https://a.cms.omniupdate.com/"] {
    display: none;
}

.twoColumn > div , .threeColumn > div , .fourColumn > div {
    display: inline-block;
    margin-right: 2em;
}

iframe[seamless] {
    border:0;
    margin: 1ex 1em;
}

.ltx_page_content {
    max-width: 50em;
    margin: 1ex 1em;
}

.ltx_page_footer {
    text-align: center;
}

.ltx_tag_equation.ltx_align_right {
    position: static;
}

/* The blue line to the left of each example. We use a linear gradient to go a
 * little along the bottom. To truly match, we shouldn't have the line to the
 * left of the example title. But that seems to require nesting two divs. */
.ltx_theorem_example {
    padding-left: 1em;
    border-width: 0 0 2px 2px;
    border-style: solid;
    border-left-color: hsl(240,100%,84%);
    border-image: -moz-line-gradient(left,hsl(240,100%,84%) 3%,transparent 3%); /* FF 3.6+ */
    border-image: -webkit-gradient(linear,left top,right top,color-stop(3%,hsl(240,100%,84%)),color-stop(3%,transparent)); /* Chrome, Safari 4+ */
    border-image: -webkit-linear-gradient(left,hsl(240,100%,84%) 3%,transparent 3%); /* Chrome 10+, Safari 5.1+ */
    border-image: -o-linear-gradient(left,hsl(240,100%,84%) 3%,transparent 3%); /* Opera 11.10+ */
    border-image: -ms-linear-gradient(left,hsl(240,100%,84%) 3%,transparent 3%); /* IE 10+ */
    border-image: linear-gradient(to right,hsl(240,100%,84%) 3%,transparent 3%); /* W3C */
    border-image-slice: 1; /* must come after border-image, since that's a shorthand */
}

.ltx_theorem .ltx_title {
    margin-top: .5em;
}
.ltx_theorem .ltx_title > span.ltx_text.ltx_parbox.ltx_font_bold.ltx_align_top:first-child {
    margin-right: 2em;
}

/*.exampleNum,*/
.solutionTag {
    min-width: 9em;
    display: inline-block;
}

#indexContents > a {
    margin: .5em;
}
section.ltx_index > ul.ltx_indexlist > li.entry_wrapper {
    margin-top: 2ex;
}
section.ltx_index > ul.ltx_indexlist > li.entry_wrapper ~ li.entry_wrapper {
    margin-top: 0;
}

a.permaLink {
    visibility: hidden;
    margin-left: .5em;
}

/*figure.marginnote:hover a.permaLink,*/
h6.ltx_title.ltx_title_theorem:hover a.permaLink,
span.ltx_figure:hover span.ltx_caption a.permaLink {
    visibility: visible;
}

.ltx_appendix.solutions .MathJax {
    font-size: 80%;
}

.ltx_theorem > .ltx_para:first-of-type > .ltx_p:first-child {
    text-indent: 0;
}

/*figcaption,*/
span.ltx_caption {
    font-size: smaller;
}

/* adjust the left side navigation */
div.ltx_page_main {
    left: 13em;
}
nav.ltx_page_navbar {
    padding-left: 0;
    width: 17em;
    border-width: 0;
}
nav.ltx_page_navbar ol.ltx_toclist {
    margin-left: 0;
    padding-left: 0;
}
nav.ltx_page_navbar ol.ltx_toclist ul.ltx_toclist {
/*    margin-left: -1em;*/
}
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_part {
    padding-left: .5em;
}
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_chapter,
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_appendix,
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_index {
    padding-left: 1em;
}
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_section {
    padding-left: 1.5em;
}
nav.ltx_page_navbar ol.ltx_toclist li.ltx_tocentry_subsection {
    padding-left: 2em;
}
.ltx_page_navbar li {
    white-space: normal;
}

span.ltx_note.ltx_role_margin.ltx_marginpar {
    width: 35%;
    margin-right: -35%;
}

span.ltx_note.ltx_role_margin span.ltx_note_content {
    width: 100%;
}

/* todo latexml */
div.ltx_dates { display: none; }
ltx_note:hover .ltx_note_content, .ltx_note .ltx_note_content:hover { z-index: 0; }
